@tailwind base;
@tailwind components;

.footnotes ol {
  @apply text-gray-600 text-sm;
}

.footnotes hr {
  @apply border-t border-dashed border-gray-200;
}

ol, ul {
  @apply pl-6;
  list-style-position: inside;
}

ul li{
  list-style: disc;
}

ol li{
  list-style: decimal
}

@tailwind utilities;